#post-card {
  border: 1px solid #ff0000;
  margin: 10px;
  padding: 10px;
}
#footer {
  background-color: #ffd0fd; 
  padding: 10px; 
  margin-top: 20px;
}
#header {
  background-color: #b60000;
  padding: 10px;
}